/*
@font-face {
    font-family: 'Noto Sans KR';
    src: url('/fonts/Noto_Sans_KR.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
*/

@font-face {
    font-family: 'Noto Sans JP';
    src: url('/fonts/Noto_Sans_JP.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Wanted Sans';
    src: url('/fonts/Wanted_Sans.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Mono';
    src: url('/fonts/Fira_Mono_Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}