@import './fonts.css';


:root {
    --font-title: 'Paperlogy', 'GMarket Sans', 'Wanted Sans', 'Noto Sans KR', sans-serif;
}


:root {
    font-family: 'Wanted Sans', 'Noto Sans KR', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark light;
    color: whitesmoke;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    scroll-behavior: smooth;


}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

html, body  {
    min-height: 100%;
    width: 100%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    background: linear-gradient(160deg, #121212, #121212 10%, #202830 40%, #202830 60%, #121212 90%);

}

cv-root {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

header, footer {

}

main * {
    scroll-margin-top: 4rem;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}


@keyframes fade-in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

article.markdown-content {
    & em {
        font-style: oblique 15deg;
    }
}