@import 'devicon/devicon-base.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import './fonts.css';


:root {
    --font-title: 'Paperlogy', 'GMarket Sans', 'Wanted Sans', 'Noto Sans KR', sans-serif;

    --color-gold: #ffcb05;
    --color-brown: #a07f78;
    --color-indigo: #80A8FF;
}


:root {
    font-family: 'Wanted Sans', 'Noto Sans KR', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark light;
    color: whitesmoke;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    scroll-behavior: smooth;
}

* {
    -webkit-font-smoothing: antialiased;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

html, body  {
    min-height: 100%;
    width: 100%;
}

body {
    margin: 0;
    display: flex;
    background: repeating-linear-gradient(160deg, #121212,
        #121212 20vh, #303840 100vh, #303840 140vh, #121212 220vh);

}

cv-root {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

header, footer {

}

main * {
    scroll-margin-top: 4rem;
}


button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}


@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to {opacity: 0; }
}

article.markdown-content {
    & p {
        text-indent: .5em;
    }

    & em {
        font-style: oblique 15deg;
    }
}


h1 { font-size: 2rem; line-height: 1.125; }
h2 { font-size: 1.625rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.125rem; }
h6 { font-size: 1rem; }

@media (min-width: 480px) {
    h1 { font-size: 2.5rem; }
    h2 { font-size: 2.25rem; }
    h3 { font-size: 2rem; }
    h4 { font-size: 1.75rem; }
    h5 { font-size: 1.5rem; }
    h6 { font-size: 1.25rem; }
}

@media (min-width: 720px) {
    h1 { font-size: 3rem; }
    h2 { font-size: 2.5rem; }
    h3 { font-size: 2.25rem; }
    h4 { font-size: 2rem; }
    h5 { font-size: 1.625rem; }
    h6 { font-size: 1.25rem; }
}

/*html:lang(ko) .markdown-content {*/
/*    word-break: keep-all;*/
/*    overflow-wrap: break-word;*/
/*}*/

html:lang(ja) {
    font-weight: 300;
}
